// update variables
@import "./custom-variables.scss";

// bootstrap functions, stylesheets, and api
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/utilities/api";

// update maps
@import "./custom-maps.scss";

// update api
@import "./custom-api.scss";

// bootstrap main and icons
@import "~bootstrap/scss/bootstrap";
@import "~node_modules/bootstrap-icons/font/bootstrap-icons.css";