// $green: #198754;
// $green-200: shade-color($green, 20%);
// $primary: $green-200;

$dropdown-dark-link-active-bg: #52575c;

#add-card-height {
  height: 228px;
}

.card-text {
  height: 90px;
}

.user-icon {
  width: 35px;
  height: 35px;
}