$dark: #0a1929;
$black: darken($dark, 10%);
$secondary: #5c718a;
$light: #e9edf1;
$white: #ffffff;

$navbar-dark-color: $white;

$dropdown-dark-color: $white;
$dropdown-dark-bg: lighten($dark, 5%);
$dropdown-link-active-bg: rgba($white, .25);
$dropdown-divider-bg: $white;

$card-border-color: rgba(#103e70, .125);

$body-color: #17314f;
$text-muted: $secondary;

.user-icon {
  width: 35px;
  height: 35px;
}

#add-card-height {
  height: 228px;
}

.card-text {
  height: 90px;
}